/*
 * WAKE - Rails 3.2 SASS
 *
*/

.pointer { cursor: pointer; }

.field_with_errors { display: inline; }

.wakeThemeForm .field_with_errors input, .wakeThemeList .field_with_errors input.search,

input.field_with_errors {
/*	border: 2px solid red; margin-bottom: 2px;*/
	outline: 2px solid red;
}
.wakeThemeForm td .field_with_errors textarea { border: 2px solid red; }
.wakeThemeForm td .field_with_errors select { border: 2px solid red; }

.wake_hl { background: yellow !important; }

.wakeThemeList, .wakeThemeForm { background: #F6F6F6; }

table.wakeThemeList, table.wakeThemeForm { 
	border-collapse: collapse; 
	box-shadow: 3px 3px 7px #777; -moz-box-shadow: 3px 3px 7px #777; -webkit-box-shadow: 3px 3px 7px #777;
	border: 1px solid #DDD;
}


.shadow, .mceLayout { box-shadow: 3px 3px 7px #777; -moz-box-shadow: 3px 3px 7px #777; -webkit-box-shadow: 3px 3px 7px #777; }

.wakeFilterButton { position: relative; width: 10em; top: 5px; left: 10px; }

.wakeThemeList td, .wakeThemeList th { text-align: left;  padding: 4px 2px 2px 4px; }
.wakeThemeList td { border-top: 1px solid #DDD;  }
.wakeThemeList th { background: #555; color: white; font-weight: normal; font-size: 0.9em; }
.wakeThemeList th a { font-weight: normal; color: white; }
.wakeThemeList th a.selected { font-weight: bold; color: #B6FF6D; }

.wakeThemeList tr.active td { background: #ABFFA8; }

.wakeThemeList .hi-visible { font-weight: bold; font-size: 1.1em; }
.wakeThemeList .lo-visible { font-size: 0.8em; }

table.wakeThemeList tr.hilite:hover td { background: #E4F2FD; background: #FFF; }
table.wakeThemeList tr.hilite:hover td.hi-visible { color: #77c02e; }

.wakeThemeList .hover-parent:hover .hover-child  { opacity: 1.0; -moz-opacity: 1.0; filter:alpha(opacity=100); }

.wakeThemeList .hover-child { opacity: 0.05; -moz-opacity: 0.05; filter:alpha(opacity=5); }

table.wakeThemeList tr td.inside { background: white; padding: 0em; margin: 0em;  }

/* gallery item */

.wakeThemeList .galleryItem { background: #F6F6F6; margin: 10px; border: 1px solid #DDD; float: left; padding: 5px;
	box-shadow: 3px 3px 7px #777; -moz-box-shadow: 3px 3px 7px #777; -webkit-box-shadow: 3px 3px 7px #777; cursor: pointer;  }
.wakeThemeList .galleryItem:hover { background: white; }


.wakeThemeForm .error { color: #DD0000; background: yellow; font-weight: bold; }
.wakeThemeForm td, .wakeThemeForm th { background: #F6F6F6; text-align: left;  padding: 2px 10px 2px 10px; 
	  border-top: 1px solid #DDD;
	}
.wakeThemeForm td { background: white; color: #888; }
.wakeThemeForm th { font-weight: normal; color: #666; font-size: 0.9em; }

.wakeThemeForm td input { border: none; font-weight: bold; font-size: 12px;  }
.wakeThemeForm td textarea  { border: none; font-weight: bold; font-size: 12px;  }


.wakeInlineFormWrapper { 
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	padding-bottom: 15px; 
/*	box-shadow: 3px 3px 7px #777 inset; -moz-box-shadow: 0px 3px 7px #777 inset; -webkit-box-shadow: 3px 3px 7px #777 inset;
*/	
}

.wakeThemeSelector { 
/*	background: #F6F6F6; border: 1px solid #DDD; padding: 10px;
*/	padding-top: 0.5em; padding-bottom: 0.5em;
/*	box-shadow: 3px 3px 7px #777; -moz-box-shadow: 3px 3px 7px #777; -webkit-box-shadow: 3px 3px 7px #777;
*/}

.wakeThemeSelector a, .wakeThemeSelector a:visited { color: #666; font-weight: normal; padding-left: 2px; padding-right: 2px; }
.wakeThemeSelector a.active { font-weight: bold; color: #00528D; font-size: 1.1em;  }	

	
.wakeThemeCleanForm { }
.wakeThemeCleanForm a.button .iconic { margin-right: 0.5em; }

.wakeThemeCleanForm a.button { margin: 0px 2px; }
.wakeThemeCleanForm a.button.hi-visible { color: #74be29; }
.wakeThemeCleanForm a.button.lo-visible { font-size: 0.8em; }
.wakeThemeCleanForm input.button { background: none; border: none; color: #00528D; 
	
	font-family: Verdana; font-size: 12px; margin: 0px 2px; padding: 0px; }
.wakeThemeCleanForm a.active { color: white; background: #74be29; padding: 1px 2px; }
.wakeThemeCleanForm input, .wakeThemeCleanForm * input { border: none; border-left: 1px solid #DDD; border-bottom: 1px solid #DDD; margin: 2px; font-weight: bold; }
.wakeThemeCleanForm input.title, .wakeThemeCleanForm * input.title { font-size: 1.1em; }
	